ErrorDocument 404 /index.php
<IfModule mod_rewrite.c>
  Options -MultiViews
	RewriteEngine On
	RewriteBase /
	RewriteCond %{THE_REQUEST} /search(?:\.php)?\?q=([^\s&]+) [NC]
	RewriteRule ^ search/%1? [R=302,L,NE]
	RewriteRule ^search/([^/.]+)/?$ search.php?q=$1 [L,QSA,NC]
	RewriteRule ^category/([^/.]+)/?$ search.php?q=$1 [L,QSA,NC]
	RewriteRule ^home /index.php [NC,L]
	RewriteRule ^install/? /setup.php [NC,L]
	RewriteRule ^404 404.php?q=$1 [L,QSA,NC]
	RewriteRule ^sitemap.xml /sitemap/sitemap.xml [L]
	RewriteRule ^post/([^/.]+)/?$ pin.php?q=$1 [L,QSA,NC]
	RewriteRule ^menu?([^/.]+)?$ menus.php?#$1 [L,QSA,NC]
  Options +FollowSymlinks
</IfModule>